@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}






body {
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

.gradient {
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a7,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008baa
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid lightgrey;
  position: absolute;
  left: 49%;
  bottom: 8%;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.477);
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 49%;
  height: 10px;
  width: 10px;
  border: 2px solid lightgray;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 2s ease-in-out infinite;
}

.scroll-down:before {
  top: 30%;
  animation-delay: 0.5s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30%,
  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}
